@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fbfaf5;
}

p {
  margin-bottom: 2rem;
  font-size: 1.3rem;
  line-height: 1.8;
}

.article-text {
  background-color: #fbfaf5;
}

.title {
  background-color: #fbfaf5;
}

.article-text ul,
ol {
  font-size: 110%;
  line-height: 2;
  font-weight: bold;
  margin: 1rem 0 3rem;
  list-style: circle inside;
}

.article-text pre {
  background: #f4f4f4;
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
  overflow: scroll;
}

.article-text h1 {
  font-size: 2rem;
}

.article-text h2 {
  margin: 3rem 0 2rem;
  font-size: 1.6rem;
  border-bottom: 1px solid black;
}

.article-text h3,
.article-text h4 {
  font-size: 1.6rem;
  margin: 1rem 0;
}

.article-text h3,
.article-text h4 {
  padding: 1rem;
}
